
<div class="col-sm-8 well">
  <h1>Gallery Page!</h1>

  <div>
    <input type="file" multiple onchange="angular.element(this).controller().fileChanged(this)">
    <span ng-repeat="fileblob in gallery.fileBlobs">
       <img ng-src="{{fileblob}}" class="img-display-thumb-class" id="image"/>
    </span>
    <p>Click the submit button to uploaded photos.</p>
    <button ng-click="gallery.submitPhotos()">Submit</button>
  </div>

  <div>
    <img class="img-lg-display-class" ng-src="{{gallery.selectedPhoto.photoBlob}}" />
  </div>

  <div ng-repeat="photo in gallery.photos" class="col-sm-3">
    <img ng-click="gallery.selectPhoto(photo)" class="img-display-class"
      ng-src="{{photo.photoBlob}}" />
  </div>




</div>