<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#myNavbar">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span
          class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Charlie Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="messages">Messages</a></li>
        <li ui-sref-active="active"><a ui-sref="gallery">Gallery</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="navbar.authenticated" ui-sref-active="active"><a ui-sref="myAccount"><span class="glyphicon glyphicon-user"></span>
            My Account</a></li>
        <li ng-show="navbar.authenticated"><a ng-click="navbar.setAuthenticated(false)">
            Logout</a></li>    
        <li ng-hide="navbar.authenticated"><a ng-click="navbar.setAuthenticated(true)">
            Login</a></li>
      </ul>
    </div>
  </div>
</nav>