/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

#my-container {
	width: 100%;
}

.my-row {
	height: 75px;
	width: 100%;
}

.my-row .right-side {
	height: 125px;
	display: table;
}

.my-row .right-side p {
	  display: table-cell;
	  vertical-align: middle;
}

.my-dropdown-content {
    display: none;

}
.my-dropdown-class {
/* 	display: inline-block; */
	
}


.my-dropdown-class:hover .my-dropdown-content {
    display: block;
    
}

.img-display-class {
	height:200px;
	width:200px;
	display: inline-block;
}
.img-lg-display-class {
	height:400px;
	width:400px;
	display: inline-block;
}