/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

#my-container {
	width: 100%;
}

.my-row {
	height: 75px;
	width: 100%;
}

.my-row .right-side {
	height: 125px;
	display: table;
}

.my-row .right-side p {
	  display: table-cell;
	  vertical-align: middle;
}

.my-dropdown-content {
    display: none;

}
.my-dropdown-class {
/* 	display: inline-block; */
	
}

.img-display-thumb-class {
	HEIGHT: 50px; 
	WIDTH: 50px; 
}

.my-dropdown-class:hover .my-dropdown-content {
    display: block;
    
}


.img-display-class {
	height:100px;
	width:110px;
	display: inline-block;
	image-orientation: from-image;
}
.img-lg-display-class {
	height:200px;
	width:220px;
	display: inline-block;
	image-orientation: from-image;
}